<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GRN</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>
    <script src="/controllerjs/grn.js"></script>

    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!--    jquery cdn end-->

    <!--    google icons link-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
<div class="container-fluid">

    <!--header area start-->
    <div class="row p-4" style="background-color: #54C392">
        <h1 class="text-center">GRN</h1>
    </div>
    <!--header area start-->

    <!--button row start-->
    <div class="row mt-1 mb-1">


        <div class="col-md-3">
            <div id="divModifyButton" class="d-none">
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning fw-bold"
                            style="width: 25%; color: whitesmoke; border: 1px solid black;"
                            onclick="refillGrnHeader(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-recycle fa-beat"></i> Refill
                    </button>
                    <button type="button" class="btn btn-danger fw-bold"
                            style=" width: 25%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                            onclick="deleteGrnHeader(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-trash fa-beat"></i> Delete
                    </button>
                    <button onclick="printGrnHeader(window['editOb'],window['editRow'])" type="button"
                            class="btn btn-primary fw-bold"
                            style=" width: 25%; color: whitesmoke;border: 1px solid black">
                        <i class="fa-solid fa-eye fa-beat"></i> Print
                    </button>
                </div>
            </div>
        </div>



        <div class="col-md-3"></div>
        <div class="col-md-3"></div>


        <div class="col-md-3">
            <button type="button" style="width: 20%; height: 40px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Search</button>
        </div>


    </div>
    <!--button row end-->



    <!--form area start-->
    <div class="card">
        <form onsubmit="return false">


            <!--button row start-->
            <div class="row mt-1">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger" style="margin-right: 10%" onclick="grnHeaderFormRefresh()">reset</button>
                    <button type="button" class="btn btn-success" onclick="submitGrnHeader()">Submit</button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!--button row start-->


            <div class="row">
                <div class="col-md-3">
                    <label for="selectSupplier" class="form-label fw-bold"> Supplier Name <i class="text-danger">*</i>
                    </label>
                    <select id="selectSupplier" class="form-select text-start" onchange="selectDBValidator(this,'','grnHeader','supplier_id'); displaySupplierInformation(this)">
                        <option></option>
                    </select>
                    <p style="padding-left: 3%" id="displaySupplierName"></p>
                    <p style="padding-left: 3%" id="displaySupplierAddress"></p>
                    <p style="padding-left: 3%" id="displaySupplierPhoneNumber"></p>
                </div>



                <div class="col-md-3">
                    <label for="selectCompanyName" class="form-label fw-bold"> Company Name <i class="text-danger">*</i></label>
                        <select id="selectCompanyName" class="form-select text-start" onchange="selectDBValidator(this,'','grnHeader','company_id')">
                            <option></option>
                        </select>
                </div>



                <div class="col-md-3">
                    <label for="displayGrnKey" class="form-label fw-bold">Grn Key</label>
                    <input type="text" id="displayGrnKey" class="form-control text-center" disabled>
                </div>


                <div class="col-md-3">

                    <table class="table table-bordered table-striped">
                        <tbody>

                        <!--                first row-->
                        <tr>
                            <td>
                                <label for="textGrnNo" class="form-label fw-bold"> Grn Number <i
                                        class="text-danger">*</i> </label>
                            </td>
                            <td>
                                <input type="text" disabled id="textGrnNo" class="form-control text-start"
                                       placeholder="Enter Grn Number" onkeyup="textValidator(this,'','grnHeader','grnno')">
                            </td>
                        </tr>
                        <!--                first row-->


                        <!--                second row-->
                        <tr>
                            <td>
                                <label for="textGrnDate" class="form-label fw-bold">GRN Date <i class="text-danger">*</i> </label>

                            </td>
                            <td>
                                <input type="date" id="textGrnDate" class="form-control" onchange="textValidator(this,'','grnHeader','grndate')" >
                            </td>
                        </tr>
                        <!--                second row-->

                        <tr>
                            <td><label for="checkBoxWithOutPoNumber" class="form-label fw-bold">Proceed Without PO</label></td>
                            <td><input type="checkbox" id="checkBoxWithOutPoNumber" onclick="
                                textOurPoNumber.disabled = this.checked;
                            "
                            ></td>
                        </tr>

                        <!--                third row-->
                        <tr>
                            <td>
                                <label for="textOurPoNumber" class="form-label fw-bold">Our Po Number <i class="text-danger">*</i> </label>
                            </td>
                            <td>
                                <input type="text" id="textOurPoNumber" class="form-control text-start" placeholder="Enter Our Po Number" onkeyup="textValidator(this,'','grnHeader','ourponumber'); loadPoDetails(this)">
                            </td>
                        </tr>
                        <!--                third row-->


                        </tbody>
                    </table>
                </div>

            </div>


        </form>
    </div>
    <!--form area end-->



<!--    our po eken ee po number ekata adala details load karala dena table eka -->
    <div class="d-none" id="cardOurPoDetailsInGrnHeader">
        <table class="table table-bordered" id="ourPoDetailsTableForGrnHeaderSection">
            <thead class="text-center">
            <th>#</th>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Action</th>
            </thead>

            <tbody></tbody>

        </table>
    </div>
<!--    our po eken ee po number ekata adala details load karala dena table eka -->


    <!--  Grn Details form area start  -->
    <form onsubmit="return false">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <label for="selectRawMaterial" class="form-label fw-bold">Select Raw Material</label>
                    <select id="selectRawMaterial" class="form-select" onchange="selectDBValidator(this,'','grnDetail','rawmaterial_id')"></select>
                </td>


                <td>
                    <label for="txtQty" class="form-label fw-bold">Item Qty</label>
                    <input type="text" id="txtQty" class="form-control" placeholder="enter item name" onkeyup="textValidator(this,'^[1-9][0-9]{0,10}$','grnDetail','quantity');">
                    <p id="displayRemainingQuantity" style="color: red"></p>
                </td>


                <td>
                    <label for="txtItemCode" class="form-label fw-bold">Item Code</label>
                    <input type="text" id="txtItemCode" class="form-control" placeholder="enter item name" onkeyup="textValidator(this,'','grnDetail','itemcode')">
                </td>

                <td>
                    <label for="txtItemDescription" class="form-label fw-bold">Item Description</label>
                    <input type="text" id="txtItemDescription" class="form-control" placeholder="enter item description" onkeyup="textValidator(this,'','grnDetail','gd_description')">
                </td>


                <td>
                    <label for="txtItemReferenceNumber" class="form-label fw-bold">Item Reference Number</label>
                    <input type="text" id="txtItemReferenceNumber" class="form-control" placeholder="enter reference number" onkeyup="textValidator(this,'','grnDetail','gd_referencenumber')">
                </td>


                <td>
                    <label for="txtRate" class="form-label fw-bold">Item Rate</label>
                    <input type="text" id="txtRate" class="form-control" placeholder="enter item Code" onkeyup="textValidator(this,'^[1-9][0-9]{0,10}$','grnDetail','rate')">
                </td>

                <td style="padding-left: 10px">
                    <button type="button" class="btn btn-warning" style="width: 35%; height: 70px; pointer-events: all;" id="buttonUpdateGrnDetails" onclick="updateGrnDetail()" >Update</button>
                    <button type="button" class="btn btn-success" style="width: 35%; height: 70px; pointer-events: all;" id="buttonAddGrnDetails" onclick="saveGrnDetails()">Add</button>
                    <p class="text-danger" id="warningTextInGrnDetailsSection">Please Complete Header Section First</p>
                </td>




            </tr>
            </tbody>
        </table>
    </form>
    <!--  Grn Details form area start  -->



<!--    div modify button section start-->
    <div class="row">
        <div class="col-md-3">
            <div id="divModifyButton2" class="d-none">
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning fw-bold"
                            style="width: 25%; color: whitesmoke; border: 1px solid black;"
                            onclick="refillGrnDetails(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-recycle fa-beat"></i> Refill
                    </button>
                    <button type="button" class="btn btn-danger fw-bold"
                            style=" width: 25%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                            onclick="deleteGrnDetails(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-trash fa-beat"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--    div modify button section end-->


    <!-- grn details table area start-->
    <div class="card mt-5 p-5 d-none" id="cardGrnDetailsTableArea">
        <table class="table table-bordered" id="grnDetailsTable">

            <thead class="text-center">
            <th>#</th>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Reference Number</th>
            <th>Rate</th>
            <th>Action</th>
            </thead>

            <tbody></tbody>

        </table>
    </div>
    <!-- grn details table area end-->



    <!--   our Purchase Order Header table area start  this is a modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">search GRN</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--Table Our Purchase Order Header Start-->
                    <div class="card m-4">
                        <table class="table table-hover table-striped"  id="grnHeaderTable">
                            <thead>
                            <th>#</th>
                            <th>Supplier Name</th>
                            <th>Customer Name</th>
                            <th>Grn No</th>
                            <th>GRN Date</th>
                            <th>Our Po Number</th>
                            <th>Action</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--Table Our Purchase Order Header Start-->
                </div>
            </div>
        </div>
    </div>
    <!--   our Purchase Order Header table area start   this is a modal-->


<!--   grn header eka print karana kota ekata adala grn details tika load karana table eka -> meka adala vennne print ekata   starts from here -->
    <div class="d-none">
    <table class="table table-bordered" id="grnDetailsTableForGrnHeaderPrint" style="border: 1px solid black;">
        <thead class="text-center" style="font-size: 11px">
        <th>#</th>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Reference Number</th>
        <th>Quantity</th>
        </thead>

        <tbody style="font-size: 11px"></tbody>

    </table>
    </div>
<!--   grn header eka print karana kota ekata adala grn details tika load karana table eka -> meka adala vennne print ekata   ends from here -->


</div>
</body>
</html>