<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>


    <script src="/controllerjs/invoice.js"></script>


    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!--    jquery cdn end-->


</head>


<body>

<div class="container-fluid">

<!--header area start-->
<div class="row p-4" style="background-color: #F5EFFF">
    <h1 class="text-center">Invoice</h1>
</div>
<!--header area start-->


<!--form area invoice header start-->
<div class="card m-4">
    <form onsubmit="return false">


        <!--button row start-->
        <div class="row mb-2">


            <div class="col-md-5">
<!--                div modify button 2 start-->
                <div id="divModifyButton2" class="d-none">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-warning fw-bold"
                                style="width: 15%; color: whitesmoke; border: 1px solid black;"
                                onclick="refillInvoiceHeaderForm(window['editOb'],window['editRow'])">
                            <i class="fa-solid fa-recycle fa-beat"></i> Refill
                        </button>
                        <button type="button" class="btn btn-danger fw-bold"
                                style=" width: 15%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                                onclick="deleteInvoiceHeader(window['editOb'],window['editRow'])">
                            <i class="fa-solid fa-trash fa-beat"></i> Delete
                        </button>
                        <button onclick="printStudent(window['editOb'],window['editRow'])" type="button"
                                class="btn btn-primary fw-bold d-none"
                                style=" width: 15%; color: whitesmoke;border: 1px solid black">
                            <i class="fa-solid fa-eye fa-beat"></i> Print
                        </button>
                    </div>
                </div>
<!--                div modify button 2 end-->
            </div>


            <div class="col-md-3">
                <button type="reset" class="btn btn-danger">reset</button>
                <button type="button" class="btn btn-warning" style="pointer-events: all" id="btnUpdateInvoiceHeader" onclick="updateInvoiceHeader()">Update</button>
                <button type="submit" class="btn btn-success" style="pointer-events: all" id="btnSubmitInvoiceHeader" onclick="submitInvoiceHeader()">Submit</button>
            </div>


            <div class="col-md-4">
                <button type="button" style="width: 15%; height: 40px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Search</button>
                <button type="button" style="width: 15%; height: 40px" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">print</button>
            </div>


        </div>
        <!--button row end-->


        <div class="row">
            <div class="col-md-3">
                <label for="selectCustomer" class="form-label fw-bold"> Customer Name <i class="text-danger">*</i>
                </label>
                <select id="selectCustomer" class="form-select text-start" onchange="getCustomerValues(this); selectDBValidator(this,'','invoiceHeader','customer_id')">
                    <option></option>
                </select>
                <p class="mt-2" id="txtSelectedCustomerAddress" style="padding-left: 20px"></p>
                <p class="mt-2" id="txtSelectedCustomerPhoneNO" style="padding-left: 20px"></p>
            </div>


            <div class="col-md-3" style="padding-left: 10%">
                <label for="selectCompanyName" class="form-label fw-bold">Company name</label>
                <select id="selectCompanyName" class="form-select text-start" onchange="selectDBValidator(this,'','invoiceHeader','company_id')"></select>
            </div>




            <div class="col-md-2">
                <label for="textInvoiceHeaderKey">Invoice Header Key</label>
                <input type="text" class="form-control" id="textInvoiceHeaderKey" disabled>
            </div>



            <div class="col-md-4">

                <table class="table table-bordered table-striped">
                    <tbody>

                    <!--                first row-->
                    <tr>
                        <td>
                            <label for="textInvoiceNO" class="form-label fw-bold"> Invoice Number <i
                                    class="text-danger">*</i> </label>
                        </td>
                        <td>
                            <input type="text" id="textInvoiceNO" class="form-control text-start"
                                   placeholder="Enter Invoice Number" onkeyup="textValidator(this,'','invoiceHeader','invno')">
                        </td>
                    </tr>
                    <!--                first row-->


                    <!--                second row-->
                    <tr>
                        <td>
                            <label for="textInvoiceDate" class="form-label fw-bold">Invoice Date <i class="text-danger">*</i> </label>

                        </td>
                        <td>
                            <input type="date" id="textInvoiceDate" class="form-control" placeholder="Enter Invoice Date" onchange="textValidator(this,'','invoiceHeader','invdate')">
                        </td>
                    </tr>
                    <!--                second row-->


                    <!--                third row-->
                    <tr>
                        <td>
                            <label for="textPoNumber" class="form-label fw-bold"> PO Number <i class="text-danger">*</i> </label>
                        </td>
                        <td>
                            <input type="text" id="textPoNumber" class="form-control text-start" placeholder="Enter PO Number" onkeyup="textValidator(this,'','invoiceHeader','ponumber'); validatePoNumberExisting(this); getPokeyFromPoNumber(this) ">
                        </td>
                    </tr>
                    <!--                third row-->


                    <!--                forth row-->
                    <tr>
                        <td>
                            <label for="textDispatchKey" class="form-label fw-bold">Dispatch Key <i class="text-danger">*</i></label>
                        </td>
                        <td>
                            <input type="text" id="textDispatchKey" class="form-control" placeholder="enter dispatch key" onkeyup="textValidator(this,'','invoiceHeader','dispatchkey')">
                        </td>
                     </tr>
                    <!--                forth row-->


                    </tbody>
                </table>
            </div>

        </div>

    </form>
</div>
<!--form area invoice header end-->

<!--    purchase order details area tika start-->
<!--   ---------------------                  -->
<!--   ---------------------                  -->
<!--   ---------------------                  -->


<!--    purchase order tika ganna table area eka start-->
    <div class="card m-4 d-none" id="cardPurchaseOrderDetails">
    <div class="row m-5">
        <table class="table table-bordered table-hover table-striped" id="tablePurchaseOrderDetails">
            <thead class="text-center">
            <th>#</th>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Value</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

        <div class="row mt-2">
            <div class="col-md-5">
                <div id="divModifyButton3" class="d-none">
                        <button type="button" class="btn fw-bold"
                                style="width: 10%; color: whitesmoke; background-color: darkgreen; border: 1px solid black;"
                                onclick="refillPoDetailsIntoInvoiceDetails(window['editOb'],window['editRow'])">
                            <i class="fa-solid fa-recycle fa-beat"></i> Refill
                        </button>
                        <button type="button" class="btn btn-danger fw-bold"
                                style=" width: 10%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                                onclick="deleteInvoiceDetail(window['editOb'],window['editRow'])">
                            <i class="fa-solid fa-trash fa-beat"></i> Delete
                        </button>
                </div>



            </div>
            <div class="col-md-7"></div>
        </div>

    </div>
<!--    purchase order tika ganna table area eka end-->


<!-- invoice header section is finished -->
<!--  -------------------------------------------------------------------------------------------------------  -->
<!--  -------------------------------------------------------------------------------------------------------  -->
<!--  -------------------------------------------------------------------------------------------------------  -->
<!--  -------------------------------------------------------------------------------------------------------  -->
<!--  -------------------------------------------------------------------------------------------------------  -->


<!--invoice details form area start ||  in here we have remaining quantity displaying thing also-->
<div class="card m-4">
<form onsubmit="return false">
<table class="table">
    <tbody>
        <tr>
            <td>
                <label for="selectItemName" class="form-label fw-bold">Item name</label>
                <select id="selectItemName" class="form-select" onchange="selectDBValidator(this,'','invoiceDetail','item_id'); saveImKey(this)"></select>
            </td>


            <td>
<!--            validate remaining item quantity defined on invoice js file PO section...    -->
                <label for="txtQty" class="form-label fw-bold">Item Qty</label>
                <input type="text" id="txtQty" class="form-control text-end" placeholder="enter item name" onkeyup="textValidator(this,'','invoiceDetail','invqty'); validateItemRemaining(this);">
                <div id="displayQuantityValidation"></div>
            </td>


            <td>
                <label for="txtRate" class="form-label fw-bold">Item Rate</label>
                <input type="text" id="txtRate" class="form-control text-end" placeholder="enter item name" onkeyup="textValidator(this,'','invoiceDetail','invrate'); generateItemValue(this)">
            </td>


            <td>
                <label for="txtValue" class="form-label fw-bold">Item Value</label>
                <input type="text" id="txtValue" class="form-control text-end" placeholder="Value Will Be Auto Generated">
            </td>


            <td>
                <button type="submit" class="btn btn-warning" id="buttonUpdateInvoiceDetail" onclick="updateInvoiceDetail()" style="width: 100px; height: 70px; pointer-events: all">Update</button>
                <button type="submit" class="btn btn-success" id="buttonAddInvoiceDetail" onclick="buttonInvoiceDetailsAdd()" style="width: 100px; height: 70px; pointer-events: all ">Add</button>
                <p class="text-danger" id="paragraphWaringInInvoiceDetails">please complete Invoice header section !</p>
            </td>




        </tr>
    </tbody>
</table>
</form>


    <!--    remaining quantity display area start-->
    <div class="row mt-2">
        <div class="col-md-4 text-end" style="margin-left: 2%">
            <p id="remainingQuantityText"></p>
        </div>
        <div class="col-md-8"></div>
    </div>
    <!--remaining quantity display area start-->


</div>
<!--invoice details form area start ||  in here we have remaining quantity displaying thing also-->





<!--    edit delete print button start-->
<div class="row mt-2">
    <div id="divModifyButton" class="d-none">
        <div class="col-md-6">
            <button type="button" class="btn btn-warning fw-bold"
                    style="width: 10%; color: whitesmoke; border: 1px solid black;"
                    onclick="refillInvoiceDetails(window['editOb'],window['editRow'])">
                <i class="fa-solid fa-recycle fa-beat"></i> Edit
            </button>
            <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold"
                    style=" width: 10%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                    onclick="deleteInvoiceDetail(window['editOb'],window['editRow'])">
                <i class="fa-solid fa-trash fa-beat"></i> Delete
            </button>
            <button onclick="printStudent(window['editOb'],window['editRow'])" type="button"
                    class="btn btn-primary fw-bold"
                    style=" width: 10%; color: whitesmoke;border: 1px solid black">
                <i class="fa-solid fa-eye fa-beat"></i> Print
            </button>
        </div>
    </div>
</div>
<!--    edit delete print button end-->



<!--table area invoice detail start-->
<div class="card mt-5 p-5 d-none" id="cardInvoiceDetailTable">

    <div class="row" style="margin-bottom: 3%">



        <div class="col-md-7 text-end">
            <div style="margin-right: 5%">
            <b >Total Quantity</b><br>
            <b id="labelTotalQuantity"></b>
            </div>
        </div>



        <div class="col-md-5 text-end">
            <div style="margin-right: 33%">
            <b >Total value</b><br>
            <b id="labelTotalValue"></b>
            </div>
        </div>



    </div>

    <table class="table table-bordered table-striped" id="tableInvoiceDetails">

        <thead>
        <th class="text-center">#</th>
        <th class="text-center">item name</th>
        <th class="text-center">Qty</th>
        <th class="text-center">rate</th>
        <th class="text-center">value</th>
        <th class="text-center">Action</th>
        </thead>

        <tbody>
        </tbody>

    </table>



</div>
<!--table area invoice detail end-->



<!--invoice detail section is finished -->
<!--    -----------------------------------------------------------------------------------------             -->
<!--    -----------------------------------------------------------------------------------------             -->
<!--    -----------------------------------------------------------------------------------------             -->
<!--    -----------------------------------------------------------------------------------------             -->


<!--model area start  meka thama print ekata use karapu model eka--------------------------->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header" id="exampleModelHeader">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Print Model</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">


                <div class="row mb-5" id="rowInputDiv">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <label for="textPrintSearchInvNo" class="fw-bold">Invoice NO</label>
                        <input type="text" id="textPrintSearchInvNo" class="form-control text-start" placeholder="search using invoice number" onkeyup="searchUsingInvoiceNumber(this)">
                    </div>
                </div>


                <!--                     model body content area start-->


                <!--print invoice header area start-->

<!--                invoice eka kiyana text eke udata ganna one nisa thama row 2 add kare  -->
                <div class="row" id="invoiceTextInPrint" style="margin-bottom: 10px">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <p class="text-end" style="font-size: 20px; font-weight: bold; padding-right: 2%; padding-top: 10px;">INVOICE</p>
                    </div>
                </div>

                <div class="row">
<!--                invoice eka kiyana text eke udata ganna one nisa thama row 2 add kare  -->

                    <!--   print eke customer details thiyena area eka-->
                    <div class="col-md-6 invoice-section" style="margin-left: -25px">
                        <p style="font-size: 16px; margin-left: 5%">CUSTOMER</p>
                        <div class="card" style="padding: 2%;margin: 5%; border:1px solid #758694">
                            <table>
                                <thead>
                                <th></th>
                                </thead>

                                <tbody>
                                <tr>
                                    <td style="font-size: 14px; font-weight: bold" id="PrintInvCusName"></td>
                                </tr>

                                <tr>
                                    <td style="font-size: 14px" id="PrintInvCusAddress" ></td>
                                </tr>

                                <tr>
                                    <td style="font-size: 14px" id="PrintInvCusPhone"></td>
                                </tr>


                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!--   print eke customer details thiyena area eka-->


                    <!--    invoice header table area -->
                    <div class="col-md-6 right-side-table">
                        <table class="table table-bordered" style="border: #758694; margin-left: 15%; margin-top: 10%">
                            <tbody class="table-bordered" style="border: #758694">



                            <tr>
                                <td style="line-height: 0.5; font-size: 14px;" >Inv: No</td>
                                <td  style="font-weight: bold; font-size: 14px; line-height: 0.5;" id="printInvNumber"></td>
                            </tr>


                            <tr>
                                <td style="line-height: 0.5; font-size: 14px;">Inv: Date</td>
                                <td style="font-weight: bold; font-size: 14px; line-height: 0.5;" id="printInvDate" ></td>
                            </tr>

                            <tr>
                                <td style="line-height: 0.5; font-size: 14px;">PO No</td>
                                <td style="font-weight: bold; font-size: 14px; line-height: 0.5;" id="printPoNumber" ></td>
                            </tr>

                            <tr>
                                <td style="line-height: 0.5; font-size: 14px;">Dispatch No</td>
                                <td style="font-weight: bold; font-size: 14px; line-height: 0.5;" id="printDispatchNo"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--    invoice header table area -->


                </div>
                <!--print invoice header area start-->



                <!--print table area start-->
                <div class="row mt-3">
                    <table id="printInvoiceDetailsTable" class="table table-bordered" style="border-collapse: collapse; border: #3C3D37; font-size: 12px">
                        <thead class="table table-striped table-bordered" style="border: #3C3D37">
                        <th> &nbsp; # &nbsp;  </th>
                        <th class="text-center">Item Code</th>
                        <th class="text-center">Item Name</th>
                        <th class="text-center">Qty</th>
                        <th class="text-center">Price (SLR)</th>
                        <th class="text-center">Value</th>
                        </thead>
                        <tbody class="text-center">
                        <tr>
                        </tr>
                        </tbody>
                        <tfoot style="border: white">


                        <tr>
                            <td colspan="5" class="text-end" style="border: white;">Total SLR</td>
                            <td class="text-end" style="border: solid 1px gray; font-weight: bold" id="textTotalValueFromINV">Total Value Will Be Auto Generated</td> <!-- Keep the border for this cell -->
                        </tr>

                        </tfoot>
                    </table>
                </div>
                <!--print table area end-->

                <div class="row" style="margin-top: 10%">
                    <div class="col-md-6">
                        <p style="font-size: 12px" id="labelShowCompanyName"> </p>
                    </div>
                    <div class="col-md-6"></div>
                </div>


                <div class="row text-center" style="margin-top: 10%">
                    <div class="col-sm-4" style="text-align: center;">
                        <p style="font-size: 12px; margin-bottom: 5px;">....................................................................</p>
                        <p style="margin: 0; font-size: 12px ">Prepared By</p>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <p style="font-size: 12px; margin-bottom: 5px;">....................................................................</p>
                        <p style="margin: 0; font-size: 12px ">Checked By</p>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <p style="font-size: 12px; margin-bottom: 5px;">....................................................................</p>
                        <p style="margin: 0; font-size: 12px ">Approved By</p>
                    </div>
                </div>

                <!--                     model body content area end-->



            </div>


            <div class="modal-footer" id="ExampleModelFooterDiv">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="printModelButtonMC()" >Print</button>
            </div>


        </div>
    </div>
</div>

<!--model area end --------------------------->
<!--           ------------------------------------------------------------------------------         -->
<!--           ------------------------------------------------------------------------------         -->
<!--           ------------------------------------------------------------------------------         -->
<!--           ------------------------------------------------------------------------------         -->
<!--           ------------------------------------------------------------------------------         -->



<!--       this is modal area 2 for search invoice header            -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">search</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--table invoice header start-->
                    <div class="card m-4">
                        <table class="table table-hover table-striped"  id="tableInvoiceHeader">
                            <thead>
                            <th>#</th>
                            <th>Customer name</th>
                            <th>Company name</th>
                            <th>Invoice NO</th>
                            <th>Invoice date</th>
                            <th>PO Number</th>
                            <th>Dispatch Number</th>
                            <th>Action</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--table invoice header end-->

                </div>
            </div>
        </div>
    </div>



    <!--       this is modal area 2 for search invoice header    end        -->
    <!--           ------------------------------------------------------------------------------         -->
    <!--           ------------------------------------------------------------------------------         -->
    <!--           ------------------------------------------------------------------------------         -->
    <!--           ------------------------------------------------------------------------------         -->
    <!--           ------------------------------------------------------------------------------         -->







</div>
</body>
</html>


























