<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Master</title>

<!--    bootstrap links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!--    bootstrap links-->

    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>
    <script src="/controllerjs/item.js"></script>


    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!--    jquery cdn end-->

</head>
<body>


<!--header area start-->
<div class="row p-4" style="background-color: #54C392;">
    <h1 class="text-center">Item Master</h1>
</div>
<!--header area start-->



<!--    edit delete print button start-->
<div class="row mt-2">

    <div class="col-md-6">
        <div id="divModifyButton" class="d-none">
            <div class="col-md-6">
                <button type="button" class="btn btn-warning fw-bold"
                        style="width: 15%; color: whitesmoke; border: 1px solid black;"
                        onclick="refillItem(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-recycle fa-beat"></i> Edit
                </button>
                <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold"
                        style=" width: 15%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                        onclick="deleteItem(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-trash fa-beat"></i> Delete
                </button>
                <button onclick="printStudent(window['editOb'],window['editRow'])" type="button"
                        class="btn btn-primary fw-bold"
                        style=" width: 15%; color: whitesmoke;border: 1px solid black">
                    <i class="fa-solid fa-eye fa-beat"></i> Print
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button type="button" style="width: 15%; height: 40px" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">print</button>
    </div>




</div>
<!--    edit delete print button end-->


<!--form area start-->
<div class="card m-5 p-5">
    <form onsubmit="return false">

        <!--    first row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="selectItemCategory" class="form-label fw-bold"> Item Category  <i class="text-danger">*</i>  </label>
                <select id="selectItemCategory" class="form-select text-start" onchange="selectDBValidator(this,'','item','category_id')">

                </select>
            </div>
            <div class="col-md-3">
                <label for="txtItemPrice" class="form-label fw-bold">Item Price </label>
                <input type="text" id="txtItemPrice" class="form-control text-start" placeholder="Enter Item Price" onkeyup="textValidator(this,'','item','price')">
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    first row end-->



        <!--    second row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="txtItemCode" class="form-label fw-bold">Item Code <i class="text-danger">*</i> </label>
                <input type="text" id="txtItemCode" class="form-control text-start" placeholder="Enter Item Code" onkeyup="textValidator(this,'','item','code')">

            </div>
            <div class="col-md-3">
                <label for="txtItemName" class="form-label fw-bold">Item Name <i class="text-danger">*</i> </label>
                <input type="text" id="txtItemName" class="form-control text-start" placeholder="Enter Item Name" onkeyup="textValidator(this,'','item','itmname')">
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    second row end-->



        <!--    third row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label for="txtItemDescription" class="form-label fw-bold">Item Description  </label>
                <input type="text" id="txtItemDescription" class="form-control text-start" placeholder="Enter item Description" onkeyup="textValidator(this,'','item','description')">
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    third row end-->


        <!--    forth row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="selectLaminate" class="form-label fw-bold">Laminate <i class="text-danger">*</i> </label>
                <select id="selectLaminate" class="form-select text-start" onchange="selectDBValidator(this,'','item','laminate_id')">

                </select>

            </div>
            <div class="col-md-3">
                <label for="selectItemFoil" class="form-label fw-bold">Foil </label>
                <select id="selectItemFoil" class="form-select text-start" onchange="selectValidator(this,'','item','foil')">
                    <option selected disabled value="">select an option</option>
                    <option value="true">yes</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    forth row end-->



        <!--    fifth row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="txtItemColours" class="form-label fw-bold">NO Of Colours  </label>
                <input type="text" id="txtItemColours" class="form-control text-start" placeholder="Enter NO Of Colours" onkeyup="textValidator(this,'','item','nocolours')">

            </div>
            <div class="col-md-3">
                <label for="txtPlateNumber" class="form-label fw-bold">Plate #  </label>
                <input type="text" id="txtPlateNumber" class="form-control text-start" placeholder="Enter Plate Number" onkeyup="textValidator(this,'','item','plate')">
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    fifth row end-->


        <!--    sixth row start-->
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-3">

                <label for="selectItemSpotUV" class="form-label fw-bold">Spot UV </label>
                <select id="selectItemSpotUV" class="form-select text-start" onchange="selectValidator(this,'','item','spotuv')">
                    <option selected disabled value="">select an option</option>
                    <option value="true">yes</option>
                    <option value="false">no</option>
                </select>

            </div>
            <div class="col-md-3">
                <label for="selectItemStatus" class="form-label fw-bold">Item status </label>
                <select id="selectItemStatus" class="form-select text-start" onchange="selectValidator(this,'','item','status')">
                    <option selected disabled value="">select an option</option>
                    <option value="true">active</option>
                    <option value="false">not-active</option>
                </select>
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--    sixth row end-->


<!--        seventh raw start-->
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label for="textCustomerItemName" class="form-label fw-bold">Customer Item Name</label>
                <input type="text" class="form-control text-start" id="textCustomerItemName" placeholder="Enter Customer Item Name" onkeyup="textValidator(this,'','item','customer_item_name')">
            </div>
            <div class="col-md-3"></div>
        </div>
<!--        seventh raw end-->




        <!--button row start-->
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button type="reset" class="btn btn-danger">reset</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-warning" id="buttonUpdate" style="pointer-events: all" onclick="updateItem()" >Update</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success" id="buttonItemAdd" style="pointer-events: all" onclick="itemSubmit()">Submit</button>
            </div>
        </div>
        <!--button row start-->




    </form>
</div>
<!--form area end-->

<!--table area start-->
<div class="card mt-5 p-5">
    <table class="table table-hover table-striped" id="itemTable">

        <thead>
        <th>#</th>
        <th>Item Category</th>
        <th>Item key</th>
        <th>Item Price</th>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Customer Item Name</th>
        <th>Item laminate</th>
        <th>Item Foil</th>
        <th>Item Spot UV</th>
        <th>Item Status</th>
        <th>Action</th>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>
<!--table area end-->

<!-- print item table eke model start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">search</h1>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-3"></div>


<!--    table area start  -->
                    <div class="col-md-6">
                        <table class="table" id="tablePrintItem">
                            <thead>
                            <th>Item Category</th>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Customer Item Name</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
<!--    table area end  -->




                    <div class="col-md-3"></div>



                </div>


            </div>



            <div class="modal-footer" id="ExampleModelFooterDiv">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="printModelButtonMC()" >Print</button>
            </div>


        </div>
    </div>
</div>
<!-- print item table eke model end-->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->
<!--  ------------------------------------------------------------  -->



</body>
</html>







