<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Master</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>



    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>
    <script src="/controllerjs/jobmaster.js"></script>

    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

</head>
<body>
<div class="container-fluid">

    <!--header area start-->
    <div class="row p-4" style="background-color: #54C392">
        <h1 class="text-center">Job Master</h1>
    </div>
    <!--header area start-->


    <!--    edit delete print button start-->
    <div class="row mt-2">

        <div class="col-md-6">
            <div id="divModifyButton" class="d-none">
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning fw-bold"
                            style="width: 25%; color: whitesmoke; border: 1px solid black;"
                            onclick="refillJobMaster(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-recycle fa-beat"></i> Refill
                    </button>
                    <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold"
                            style=" width: 25%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                            onclick="deleteJobMaster(window['editOb'],window['editRow'])">
                        <i class="fa-solid fa-trash fa-beat"></i> Delete
                    </button>
                    <button onclick="printOneJob(window['editOb'],window['editRow'])" type="button"
                            class="btn btn-primary fw-bold"
                            style=" width: 25%; color: whitesmoke;border: 1px solid black">
                        <i class="fa-solid fa-eye fa-beat"></i> Print
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
<!--        <div class="col-md-3">-->
<!--            <button type="button" style="width: 15%; height: 40px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">print</button>-->
<!--        </div>-->




    </div>
    <!--    edit delete print button end-->


<form onsubmit="return false">

    <!--    first row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="txtJobDate" class="form-label fw-bold"> Job Date  <i class="text-danger">*</i>  </label>
            <input type="date" id="txtJobDate" class="form-control text-start" onchange="textValidator(this,'','jobmaster','jobdate')">
        </div>
        <div class="col-md-3">
            <label for="txtJobNumber" class="form-label fw-bold"> Job Number  <i class="text-danger">*</i>  </label>
            <input type="text" id="txtJobNumber" disabled class="form-control text-start" placeholder="Enter Job Number" onkeyup="textValidator(this,'','jobmaster','jobnumber')">
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--    first row end-->



    <!--    second row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="selectJobCustomer" class="form-label fw-bold"> Customer  <i class="text-danger">*</i>  </label>
            <select id="selectJobCustomer" class="form-select text-start" onchange="selectDBValidator(this,'','jobmaster','customer_id')"></select>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--    second row end-->



<!--    third row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label for="selectJobFinishing" class="form-label fw-bold"> Finishing(s)  <i class="text-danger">*</i>  </label>
            <select style="height: 150px" id="selectJobFinishing" class="form-select text-start" multiple></select>
        </div>
        <div class="col-md-2">
            <br>
            <button type="button" class="btn btn-success" style="width: 17%; font-size: 11px" onclick="addOneItem()">Add One</button>
            <button type="button" class="btn btn-success" style="width: 17%; font-size: 11px" onclick="addAllItem()">Add All</button>
            <button type="button" class="btn btn-success" style="width: 17%; font-size: 11px" onclick="removeOneItem()">Remove One</button>
            <button type="button" class="btn btn-success" style="width: 17%; font-size: 11px" onclick="removeAllItem()">Remove All</button>
        </div>
        <div class="col-md-2">
            <label for="selectedJobFinishing" class="form-label fw-bold"> Selected Finishing(s) <i class="text-danger">*</i>  </label>
            <select style="height: 150px" id="selectedJobFinishing" class="form-select text-start" multiple></select>
        </div>
        <div class="col-md-3"></div>
    </div>
<!--    third row end-->

    <!--    forth row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label for="selectJobPlateDetails" class="form-label fw-bold"> Plate Details(s)  <i class="text-danger">*</i>  </label>
            <select style="height: 150px" id="selectJobPlateDetails" class="form-select text-start" multiple></select>
        </div>
        <div class="col-md-2">
            <br>
            <button type="button" class="btn" style="width: 17%; font-size: 11px; background-color: #ea580c; color: whitesmoke" onclick="addOneItemForPlateDetails()">Add One</button>
            <button type="button" class="btn" style="width: 17%; font-size: 11px; background-color: #ea580c; color: whitesmoke" onclick="addAllItemForPlateDetails()">Add All</button>
            <button type="button" class="btn" style="width: 17%; font-size: 11px; background-color: #ea580c; color: whitesmoke" onclick="removeOneItemForPlateDetails()">Remove One</button>
            <button type="button" class="btn" style="width: 17%; font-size: 11px; background-color: #ea580c; color: whitesmoke" onclick="removeAllItemForPlateDetails()">Remove All</button>
        </div>
        <div class="col-md-2">
            <label for="selectedJobPlateDetails" class="form-label fw-bold"> Selected Finishing(s) <i class="text-danger">*</i>  </label>
            <select style="height: 150px" id="selectedJobPlateDetails" class="form-select text-start" multiple></select>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--    forth row end-->

    <!--    fifth row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="txtQuantity" class="form-label fw-bold"> Job Quantity  <i class="text-danger">*</i>  </label>
            <input type="text" id="txtQuantity" class="form-control text-start" placeholder="Enter Job Quantity" onkeyup="textValidator(this,'','jobmaster','jobquantity')">
        </div>
        <div class="col-md-3">
            <label for="selectJobStatus" class="form-label fw-bold"> Job Status <i class="text-danger">*</i>  </label>
            <select id="selectJobStatus" class="form-select text-start" onchange="selectDBValidator(this,'','jobmaster','jobmasterstatus_id')"></select>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--    fifth row end-->

<!--    sixth row start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="txtDescription" class="form-label fw-bold"> Job Description</label>
            <input type="text" id="txtDescription" class="form-control text-start" placeholder="Enter Job Number" onkeyup="textValidator(this,'','jobmaster','jobdescription')">
        </div>
        <div class="col-md-3"></div>
    </div>
<!--    sixth row end-->


<!--    job master has item details section  start-->
    <div class="row mt-5">
        <div class="col-md-3"></div>

        <div class="col-md-3">

            <label for="selectItem" class="form-label fw-bold"> Item <i class="text-danger">*</i>  </label>
            <select id="selectItem" class="form-select text-start" onchange="selectDBValidator(this,'','jmhsitm','item_id')"></select>

        </div>
        <div class="col-md-3">
                <label for="txtQty" class="form-label fw-bold">Item Qty</label>
                <input type="text" id="txtQty" class="form-control" placeholder="enter item Qty" onkeyup="textValidator(this,'','jmhsitm','jobmaster_has_item_qty');">
        </div>



        <div class="col-md-3 text-center">

            <button type="button" class="btn" style="pointer-events: all; background-color: #525252; color: whitesmoke" id="buttonInnerUpdate" onclick="innerUpdate()">update</button>
            <button type="button" class="btn" style="pointer-events: all; background-color: #525252; color: whitesmoke" id="buttonInnerAdd" onclick="innerAdd()">Add</button>

        </div>
    </div>
<!--    job master has item details section  end-->


<div class="mt-5">
    <table class="table table-bordered" id="tableJobMasterItemDetails" style="font-size: 12px">
        <thead class="text-center">
        <th>#</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Action</th>
        </thead>
        <tbody></tbody>
    </table>
</div>




    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" onclick="window.location.reload()">reset</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-warning" style="pointer-events: all" id="buttonUpdateJobMaster" onclick="updateJobMaster()">Update</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" style="pointer-events: all" id="buttonSubmitJobMaster" onclick="submitJobMaster()">Submit</button>
        </div>
    </div>
    <!--button row start-->


</form>

<!--print all jobs button-->
<div class="row mt-5 mb-5 text-end">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" onclick="printAllJobs()">Print All Jobs</button>
    </div>
</div>
<!--print all jobs button-->


<!--     job master table area start       -->
    <table class="table table-bordered" id="tableJobMaster" style="font-size: 12px">
        <thead class="text-center">
            <th>#</th>
            <th>Customer Name</th>
            <th>Item Name</th>
            <th>Job Date</th>
            <th>Job Number</th>
            <th>Job Quantity</th>
            <th>Job Description</th>
            <th>Job Status</th>
            <th>Action</th>
        </thead>
        <tbody></tbody>
    </table>
<!--     job master table area end       -->



    <!--     job master table area for print start       -->

    <div class="d-none">
    <table class="table table-bordered" id="tableJobMasterPrint" style="font-size: 11px; font-family: 'Times New Roman'; border: 1px solid black">
        <thead class="text-center">
        <th>#</th>
        <th>Customer Name</th>
        <th>Item Name</th>
        <th>Job Date</th>
        <th>Job Number</th>
        <th>Job Quantity</th>
        <th>Job Description</th>
        <th>Job Status</th>
        </thead>
        <tbody></tbody>
    </table>
    </div>
    <!--     job master table area for print end       -->



</div>
</body>
</html>